doc
.yardoc
.DS_Store
spec/public
pkg
doc
more/activerecord/spec/db
more/activerecord/spec/public
more/datamapper/spec/public
*.project
spec/test.log
spec/tmp
*.swp
.rvmrc
.idea
.bundle
Gemfile.lock
gemfiles/*.lock
